---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<p style="font-size: 1.1em;">
  You can also find my full publication list on 
  <a href="https://inspirehep.net/authors/1818795" target="_blank" style="text-decoration: underline;">INSPIRE-HEP</a> 
  or 
  <a href="https://scholar.google.com/citations?user=08W3KKQAAAAJ&hl=zh-CN" target="_blank" style="text-decoration: underline;">Google Scholar</a>.
</p>

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}
